.disclaimer {
    text-align: center;
    border-top: 2px solid white;
    margin-top: 10vh;
    display: inline-block;
}
.disclaimer-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
