.episode-player-wrapper {
    margin: auto;

    width: 50%;
}

.episodes-list-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.episode-title {
    font-family: "Comfortaa", cursive;
    font-size: large;
    text-transform: capitalize;
}

.episode-title-wrapper {
    margin: auto;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
