.episode-box {
    width: 5%;
    min-width: 40px;
    /* height: 5%; */

    /* border: 1px solid blue; */
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

.episode-box-wrapper {
    display: flex;
    flex-flow: row wrap;
}
.episode-box {
    margin: 1px;
    opacity: 0.6;
}

.episode-link-content {
    font-size: smaller;
    text-shadow: 2px 2px black;
    text-align: center;
    width: 100%;
}

.episodes-list-header {
    font-family: "Comfortaa", cursive;
}
