.chat {
    height: 70vh;
    width: 20vw;
    min-width: 300px;
    display: block;
}

.livestream-player-wrapper {
    padding-left: 60px;
    min-width: 600px;
    display: block;
    float: left;
}

.livestream-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.refresh:hover {
    cursor: pointer;
}
.refresh {
    text-decoration: underline;
}

.video-error-refresh-text {
    opacity: 50%;
    margin-top: 2%;
}
