.series-card {
    margin: 5%;
}
.shows {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.movies {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.movies-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: "Comfortaa", cursive;
}
