.series-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#movies-break {
  width: 100vw;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: larger;
  font-family: "Comfortaa", cursive;
}
.series-card {
  margin: 1%;
}
