#livestream-chat {
  margin-top: 36px;
  height: 80vh;
  box-shadow: 1px 3px 3px 3px black;
}

.livestream-player {
  margin-top: 1em;
  width: 75%;
}

.chat {
  height: 100%;
  min-width: 15vw;
}

#livestream-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.theater-mode {
  width: 90vw;
}

.four-by-three {
  width: 55%;
}
