#player-header {
  font-family: "Comfortaa", cursive;
}

#players {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.player-finished {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 1;
  background-color: black;
  color: white;
  opacity: 0.7;
}

.player-finished-message {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
  text-align: center;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.controls {
  position: relative;
  width: 100%;
}
