#progress-background {
  margin-top: 5px;

  height: 5px;
  border-radius: 5px;
  background-color: #164f27;
}

#progress-filled {
  border-radius: 5px;
  height: 5px;
  background-color: #92c407;
}

#video-progress-input {
  width: 100%;
  height: 5px;
  opacity: 0;
  position: absolute;
}
