@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
a {
    color: white;
}

a:visited {
    color: white;
}

body {
    color: #f5f5f5;
    background-color: #17181c;
}
